
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"width" 100;
    
}

body{

    max-width: 1140px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color:#fff;
 
}
}
.logo {
  font-size: 22px;
  font-weight:bolder;
  color:#E95A08 ;
  
}
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

a.home , .cart {
  font-weight: bold;
}
a.shop , a.about{

    color: #8987A1;
    
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 30px;
  flex-wrap: wrap;
}

.banner-content {
  flex: 1;
  padding: 10px;
  text-align: left;
  justify-content: space-around;
  align-items: center;
}

.banner-content h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.orange {
  color: #E95A08;
}

.banner-content p {
  color: #555;
  line-height: 1.5;
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image img {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
}
/* Main section */
.plants-section {
  padding: 40px 20px;
 
}

/* Title and subtitle centered */
.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.section-header h2 span {
  color:#E95A08; 
}

.section-header p {
  max-width: 600px;
  margin: 0 auto;
  color: #555;
}


.plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}


.plant-card {
  background-color: #f9f9f9;
  padding: 15px;
  text-align: center;
  max-width: 200px;
  border-radius: 5px;
  box-shadow: transparent
}

.plant-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.plant-card h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.plant-card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.plant-card button {
  background-color:#E95A08;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}

.plant-card button:hover {
  background-color:#E95A08;
}

